@import "tailwindcss";

body {
    font-family: "Roboto Mono", monospace;
}

@theme inline {
    --color-cyber: #00b4d8;
    --color-white: #f0f0f0;
    --color-black: #0f0f0f;
    --color-cyber-dark: #0077b6;
    --color-background: #252525 
}
